bazel-*
.bazelrc.user
# Robot
log.html
report.html
robot_output.xml
# VCS generated things
novas.fsdb
ucli.key
internal
*vcst*
novas*
*csrc*
# Build artifacts for UVM
tests/uvm/rtl
tests/uvm/sim_work
tests/uvm/vc_hdrs.h
# python
__pycache__
# downloaded bitstreams
fpga/bitstreams
# bazel output
.bazel-user-root/
bazel-bin/
bazel-out/
bazel-testlogs/
external
# riscv-vector-tests generated ELFs
third_party/riscv_vector_tests/out/
# firtool jars
tools/firtool/*.jar
